.env
examples/__pycache__/arithmetics.cpython-312.pyc
examples/__pycache__/calc_agent.cpython-312.pyc
examples/__pycache__/code_executor.cpython-312.pyc
examples/application.log
examples/application.log
